{% load static %}
<!-- Then, using the same directory structure (myapp/static/myapp/style.css): -->



<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
    <link rel="stylesheet" href="/static/home/home.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Admin Dashboard Panel</title>-->
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <!-- <img src="logos.jpeg" alt=""> -->
            </div>

            <span class="logo_name">
                <span class="hello-msg">Hello, {{request.user}}</span></span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class=""><b>🏠</b></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>
                <li><a href="#">
                        <i class="">📚</i>
                        <span class="link-name">Course</span>
                    </a></li>
                <li><a href="#">
                        <i class="">💯</i>
                        <span class="link-name">Marks</span>
                    </a></li>
                <li><a href="#">
                        <i class="">⏱️</i>
                        <span class="link-name">History</span>
                    </a></li>
                <li><a href="#">
                        <i class="">🧑‍🎓</i>
                        <span class="link-name">Profile</span>
                    </a></li>
                <li><a href="#">
                        <i class="">🤔</i>
                        <span class="link-name">Doubts Box!</span>
                    </a></li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="profile.jpg" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class=>📗</i>
                        <span class="text">Subject-1</span>
                        <span class="number">Assignment-2</span>
                    </div>
                    <div class="box box2">
                        <i class=>📘</i>
                        <span class="text">Subject-2</span>
                        <span class="number">Assignment-22</span>
                    </div>
                    <div class="box box3">
                        <i class=>📙</i>
                        <span class="text">Subject-3</span>
                        <span class="number">Assignment-34</span>
                    </div>
                </div>
            </div>
            <div class="Recent--Assingments">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Assignments</span>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/home/scripts.js"></script>
</body>

</html>