<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/core/history1.css">
    <title>Document</title>
</head>
<body>
    <ul id="list" style="list-style: none;" >
        <li>h
           
        </li>
    </ul>
    <button class="btn2" id="btn2">Add</button>
    <a href="https://codepen.io/jhkepa/details/vddwYE">Other Design</a>
    
</body>

<script src="/static/core/history1.js"></script>
</html>